body {
    background-color: lightcyan;
}

/*#submit {*/
    /*color: #fff;*/
    /*font-size: 0;*/
    /*width: 135px;*/
    /*height: 60px;*/
    /*border: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*background: #0c0 url(image) 0 0 no-repeat;*/
/*}*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

p { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 40px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }